backend/.env
backend/node_modules
mobile/assets/images/react-logo@3x.png
mobile/assets/images/react-logo.png
mobile/assets/images/favicon.png
mobile/assets/images/adaptive-icon.png
mobile/assets/images/partial-react-logo.png
mobile/assets/images/splash-icon.png
mobile/assets/images/react-logo@2x.png
mobile/assets/images/icon.png
mobile/README.md
mobile/assets/images/chicken.png
mobile/assets/images/i1.png
mobile/assets/images/i2.png
mobile/assets/images/i3.png
mobile/assets/images/pork.png
mobile/assets/images/lamb.png
.gitignore
